# dependencies

/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build


# prisma
/prisma/dev.db
/prisma/dev.db-journal

# typescript
*.tsbuildinfo

node_modules/
dist/
.env
.env.local
.env.local.example